@charset "utf-8";

html {
    background-color: white;
    }

header {
    text-align: center;
    color: #a47b66;
    border-style: solid;
    border-color: #a47b66;
    background-color: #d2baad;
  }

body {
    font-family: 'Times New Roman';
    font-weight: 400;
    color: black;
  }
  
h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #a47b66;
  }  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }

li {
    float: left;
  }
  
li a {
    display: flex;
    color: #a47b66;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

li a:hover {
    color: #d2baad;
    text-decoration: underline;
}

a:visited {
    color: #a47b66;
    text-decoration: none;
    }
      
a:active {
    color: #d2baad;
    text-decoration: underline;
    }
